body {
	margin: 0:
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

nav {
	width: 100%;
	height: 60px;
	background-color: pink;
	box-shadow: 10px 10px 10px 10px #ddd;
	position: fixed;
	border-bottom: 1px solid #000;
}

ul {
	margin: 0;
	padding: 1rem; /*1rem = 16px*/
	float: right;
}

li {
	list-style-type: none;
	display: inline-block;
	padding: 0 8px;
}

a {
	text-decoration: none;
	color: black;
}

.no-body{
	height: 60px;
}
.section{
	padding: 40px;
}

.section h1{
	margin: 0;
}

.section h2{
	margin-top: 0;
}

#info_utama{
	display: flex;
}
#identitas{
	width: 50%
}

#identitas p{
	line-height: 26px;
	color: #6f6f6f;
	font-size: 14px;
}

#gambar{
	width: 50%;
}

#gambar img{
	width: 100%;
	border-radius: 1rem;
}

.call-me {
	padding: 12px 32px;
	background-color: #fff;
	color: #ff7b51;
	margin-top: 16px;
	border-radius: 32px;
	border: 1px solid #ff7b51;
	transition: 0.3s;
}

.call-me: hover{
	box-shadow: 0px 10px 20px #ddd;
	background-color: #ff7b51;
	color: white;
	transition: 0.3s;
}